[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/daniel/Desktop/net.kuribo64.melonDS.desktop]
row=3
col=0

[/home/daniel/Desktop/dolphin-emu.desktop]
row=2
col=0

[/home/daniel/Desktop/virt-manager.desktop]
row=0
col=1

[/home/daniel/Desktop/harmony.log.txt]
row=5
col=0

[/home/daniel/Desktop/firefox.desktop]
row=1
col=0

[/home/daniel/Desktop/whiskermenu-manjaro-pink.png]
row=6
col=0

[/home/daniel/Desktop/multimc.desktop]
row=4
col=0

[Trash]
row=15
col=39

[/home/daniel]
row=0
col=0

