[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/daniel/Desktop/dolphin-emu.desktop]
row=3
col=0

[/home/daniel/Desktop/harmony.log.txt]
row=5
col=0

[/home/daniel/Desktop/steam.desktop]
row=8
col=0

[/home/daniel/Desktop/multimc.desktop]
row=7
col=0

[/home/daniel/Desktop/melonds_melonds.desktop]
row=6
col=0

[/home/daniel/Desktop/firefox.desktop]
row=4
col=0

[/home/daniel/Desktop/virt-manager.desktop]
row=9
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/daniel]
row=2
col=0

