[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/daniel/Desktop/virt-manager.desktop]
row=0
col=1

[/home/daniel/Desktop/steam.desktop]
row=7
col=0

[/home/daniel/Desktop/multimc.desktop]
row=1
col=1

[/home/daniel/Desktop/firefox.desktop]
row=8
col=0

[Trash]
row=4
col=0

[/home/daniel]
row=6
col=0

